@charset "UTF-8";
/*website index*/

body {
	background-color: rgb(250, 248, 242) !important;
}

.item {
	padding: 20px !important;
}

.button {
	border: 0px !important;
}

.icon {
	margin: 5px !important;
}

.icon1 {
	height: 70px !important;
	width: 70px !important;
}

.icon2 {
	height: 80px !important;
	width: 80px !important;
}

.navigator {
	color: #7d97df !important;
	font-size: 18px !important;
	text-align: center !important;
	/*margin-right: 25px!important;*/
	letter-spacing: 1px !important;
	font-weight: bold !important;
	transition: all 0.3s linear !important;
}

.indexnot {
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-decoration: none !important;
	font-size: 17px !important;
}

.indexnot:link {
	color: #7d97df !important;
	text-decoration: none !important;
}

.indexnot:visited {
	color: #7d97df !important;
	text-decoration: none !important;
}

.indexnot:hover {
	color: #9f7be9 !important
}

/*Notification*/
div.notification {
	margin: 10px;
	position: inherit;

}

.decoration {
	/*设置视频最小宽度和高度 这个设不设置没有什么影响 */
	/*min-width: 100%;
	min-height:100%;*/
	/**/
	width: 100% !important;
	height: 70px;
	/*生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。可以根据实际情况修改*/
	position: relative;
	/*这里我试了一下好像只要是矩形的四个角的的点都行,也就是说right:0;bottom:0;也可以*/
	left: 0;
	top: 0;
	/*将视频放在元素的堆叠顺序最底层，以防覆盖其他东西*/
	z-index: -9999;
	/*被替换的内容正好填充元素的内容框。整个对象将完全填充此框。如果对象的宽高比与内容框不相匹配，那么该对象将被拉伸以适应内容框。*/
	object-fit: cover;
}

#parent {
	position: absolute;
}

/*footer*/
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #b9b9b9;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}

/*here are several templates of table!!*/
.table1 {
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
}

.table1 td,
table th {
	border: 1px solid #cad9ea;
	color: #666;
	height: 30px;
}

.table1 thead th {
	background-color: #CCE8EB;
	width: 100px;
}

.table1 tr:nth-child(odd) {
	background: #fff;
}

.table1 tr:nth-child(even) {
	background: #F5FAFA;
}

/*边框在这里！*/
.tableborder {
	border: 2px solid #a1a1a1;
	width: 70%;
	padding: 10px 20px;
	border-radius: 25px;
	margin: 0 auto;
	text-align: center
}

/*加载界面*/

.loading-div {
	width: 1800px;
	height: 1000px;
	background-color: #fff;
	display: table-cell;
	vertical-align: middle;
	color: #555;
	overflow: hidden;
	text-align: center;
}

.loading-div::before {
	display: inline-block;
	vertical-align: middle;
}

/*粒子特效*/
#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
}

/*下拉菜单 悬停样式*/
.dropdown:hover .dropdown-menu,
.btn-group:hover .dropdown-menu {
	display: block;
}
.dropdown-toggle {
	margin: auto;
}
/*星空装饰*/
#skystardecoration {
	height: 70px;
	display: block;
}
/*滚动条*/
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cdcabd;
  }
