@charset "UTF-8";
/*website index*/
header {
	width: 100%;
    height: 50%;
    text-align: center;
	background-image: linear-gradient(rgb(250, 245, 204),rgb(255,255,204));
	/*rgb(234,216,134),rgb(234,228,209));*/
	margin:0;
	border:0;

	border-bottom: 0.7px solid #f6f45a;  
	position: sticky;
	top: 0;
	padding: 5px;
	z-index: 9999;
}
body{
	background-color: rgb(245,242,234);
}
nav.navigator {
	float: center;
	text-align: center;
	/*margin-right: 25px;*/
}
nav ul li {
    border-bottom-style:solid;
	display:inline;
	color: #7d97df;
	font-size: 14px;
	text-align: center;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {   
	color: #9f7be9;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
a.website-title{
	font-family: Georgia, 'Times New Roman', Times, serif;
}
a.website-title:link {color:#c8c02b;text-decoration:none;}
a.website-title:visited {color:#000000;text-decoration:none;}
a.website-title:hover {text-decoration:underline;}
/*picture slides*/
ul.slides {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:50vh;
	position:relative;
	width: 600px;
	height: 280px;
	list-style: none;
	margin:10px;
	/*margin:auto;*/
	padding:0;
	background-color: #eee;
	overflow: hidden;
}
li.slide{
	margin: 0;
	padding: 0;
	width:inherit;
	height:inherit;
	position:absolute;
	top:0;
	left:0;
	display:flex;
	justify-content: center;
	align-items:center;
	font-family: Helvetica;
	font-size:120px;
	color:#fff;
	transition: .5s transform ease-in-out;
}
.slide:nth-of-type(1) {
	background-color: #F25C05;
}
.slide:nth-of-type(2) {
	left:100%;
	background-color: #F25C05;
}
.slide:nth-of-type(3) {
	left:200%;
	background-color: #F25C05;
}
.slide:nth-of-type(4) {
	left:300%;
	background-color: #F25C05;
}
.slide:nth-of-type(5) {
	left:400%;
	background-color: #F25C05;
}
input[type="radio"]{
	position: relative;
	z-index: 100;
	display: none;
}
.control-visible{
	position: absolute;
	width: 100%;
	bottom:12px;
	text-align:center;
}
.control-visible label{
	display:inline-block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 3px;
	border: 2px solid #fff;
}
.slides input[type="radio"]:nth-of-type(1):checked ~
.control-visible label:nth-of-type(1){
	background-color: #333;
}
.slides input[type="radio"]:nth-of-type(2):checked ~
.control-visible label:nth-of-type(2){
	background-color: #333;
}
.slides input[type="radio"]:nth-of-type(3):checked ~
.control-visible label:nth-of-type(3){
	background-color: #333;
}
.slides input[type="radio"]:nth-of-type(4):checked ~
.control-visible label:nth-of-type(4){
	background-color: #333;
}
.slides input[type="radio"]:nth-of-type(5):checked ~
.control-visible label:nth-of-type(5){
	background-color: #333;
}
.slides input[type="radio"]:nth-of-type(1):checked ~ .slide{
	transform:translateX(0%);
}
.slides input[type="radio"]:nth-of-type(2):checked ~ .slide{
	transform: translateX(-100%);
}
.slides input[type="radio"]:nth-of-type(3):checked ~ .slide{
	transform: translateX(-200%);
}
.slides input[type="radio"]:nth-of-type(4):checked ~ .slide{
	transform: translateX(-300%);
}
.slides input[type="radio"]:nth-of-type(5):checked ~ .slide{
	transform: translateX(-400%);
}
/*picture slides end here*/
/*Notification*/
div.notification{
	margin: 10px;
	position:absolute;
	left: 670px;
	top:180px;

}
/*.starsky{
	height: auto; width: auto\9; width:100%;height:30%;object-fit: fill;
}*/
.starsky {
	/*设置视频最小宽度和高度 这个设不设置没有什么影响 */
	/*min-width: 100%;
	min-height:100%;*/
	/**/
	width: 100% !important;
	height: 240px;
	/*生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。可以根据实际情况修改*/
	position: relative;
	/*这里我试了一下好像只要是矩形的四个角的的点都行,也就是说right:0;bottom:0;也可以*/
	left: 0;
	top: 0;
	/*将视频放在元素的堆叠顺序最底层，以防覆盖其他东西*/
	z-index: -9999;
	/*被替换的内容正好填充元素的内容框。整个对象将完全填充此框。如果对象的宽高比与内容框不相匹配，那么该对象将被拉伸以适应内容框。*/
	object-fit:cover;
}
#parent{
	position:absolute;
}
/* 下拉按钮样式 */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
}
/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* 下拉菜单的链接 */
.dropdown-content a {
	color: #9f7be9;
    padding: 12px 2px;
    text-decoration: none;
    display: block;
}
/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {color: #2C9AB7;}
/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}
/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.indexnotification{
	border-left: 6px
	 solid aqua!important;
	list-style-type:none
}
/*footer*/
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #b9b9b9;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
/*here are several templates of table!!*/

.table1
{
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
}
.table1 td, table th
{
	border: 1px solid #cad9ea;
	color: #666;
	height: 30px;
}
.table1 thead th
{
	background-color: #CCE8EB;
	width: 100px;
}
.table1 tr:nth-child(odd)
{
	background: #fff;
}
.table1 tr:nth-child(even)
{
	background: #F5FAFA;
}
.tableborder
{
	border:2px solid #a1a1a1;
	width : 70%;
	padding:10px 20px; 
	border-radius:25px;
	margin: 0 auto;
	text-align: center
}