
/*.svg-wrapper {
  /*position: relative;
  top: 50%; 
  float:center;
  transform: translateY(-50%);
	  margin: 0 auto;
  width: 120px;  
}*/
.shape {
  position: inherit;
  float:inline-start;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #7d97df;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  left:-100px;
}
.text {
  border-bottom-style:solid;
	display:inline;
	color: #7d97df;
	font-size: 14px;
	text-align: center;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	letter-spacing: 4.5px;
  
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}