body{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: gray;
    margin-top:100px;
}
#game-board{
    background-color: black;
    width: 100vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
}

.snake {
    background-color: lime!important;
    border:0.25vmin solid black;
}

.food {
    background-color: red!important;
    border: 0.25vmin solid gray!important;
}